<div class="content">
  <app-docker-zone (elementDocked)="onElementDocked()"></app-docker-zone>
  <app-open-layers></app-open-layers>
</div>

<app-layer-panel [configuration]="layerPanelConfiguration"></app-layer-panel>
