.layer-panel
  position: absolute
  width: 300px
  height: 400px
  top: 75px
  left: 75px
  border-radius: 5px
  z-index: 1000
  background: white
  -webkit-box-shadow: -9px 8px 10px -4px rgba(0, 0, 0, 0.33)
  -moz-box-shadow: -9px 8px 10px -4px rgba(0, 0, 0, 0.33)
  box-shadow: -9px 8px 10px -4px rgba(0, 0, 0, 0.33)
  display: flex
  justify-content: space-between
  flex-direction: column
  box-sizing: border-box
  user-select: none

  &.docked
    position: static!important
    height: 100% !important
    padding-left: 5px

  .header
    display: flex
    padding: 0 2px 0 2px
    i
      align-self: center
      padding: 0 5px 5px 5px

    .header-buttons
      margin-inline-start: auto
      align-self: center

      i
        padding: 0 2px 0 2px

  .content
    overflow: auto
    div
      padding: 10px 0 10px 23px
      border-left: #2186a3 solid 2px
      margin: 0px 0 17px 0px

  .footer
    display: flex
    padding: 0 2px 2px 4px
    div
      margin: auto

    .new-layer
      &:hover
        cursor: pointer

