<div appDraging class="layer-panel content" [class.docked]="inDockedMode">
  <div class="header">
    <i class="fas fa-sort-down"></i>
    <h3>{{configuration.getTitle()}}</h3>
    <div class="header-buttons">
      <i class="fas fa-receipt"></i>
      <i class="fas fa-receipt"></i>
    </div>
  </div>
  <div class="content">
    <div *ngFor="let layer of configuration.getLayers()">{{layer}}</div>
  </div>
  <div class="footer">
    <div><i class="fas fa-trash"></i></div>
    <div
      (click)="addLayer()"
      class="new-layer">Nowa warstwa <i class="fas fa-plus"></i> </div>
  </div>
</div>
